body {
  font-family: sans-serif;
}

#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tweet-card {
  width: 600px;
  min-height: 180px;
  background-color: #f9fafa;
  padding: 25px 30px 15px 30px;
}

.user-info {
  width: inherit;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avatar {
  width: 175px;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.profile-pic {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.name {
  font-weight: bold;
  font-size: 15px;
  padding-bottom: 3px;
}

.handle {
  font-size: 11px;
  color: #a2acb5;
}

.options {
  width: 175px;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.follow {
  width: 100px;
  height: 35px;
  border: 2px solid #2190bb;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  color: #2190bb;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
}

.more-options {
  padding-bottom: 10px;
  cursor: pointer;
  font-size: 20px;
}

.tweet-area {
  width: inherit;
  height: auto;
  margin-bottom: 20px;
}

.tweet {
  width: inherit;
  height: auto;
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.timestamp {
  width: inherit;
  padding: 0px 20px;
  color: #a2acb5;
}

.add-impressions,
.comment,
.retweet,
.like {
  display: flex;
  align-items: flex-end;
  margin-right: 20px;
}

.comment-img,
.retweet-img,
.like-img {
  width: 20px;
  height: 20px;
  padding-left: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.retweet-img {
  width: 15px;
  height: 15px;
  padding-left: 20px;
  margin-right: 10px;
}

.like-img {
  width: 18px;
  height: 15px;
  padding-left: 20px;
  margin-right: 10px;
}

.comment-count,
.retweet-count,
.like-count {
  color: #667785;
  font-size: 13px;
  font-weight: bold;
}
