body {
  font-family: sans-serif;
}

#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tweet-card {
  min-width: 600px;
  min-height: 220px;
  background-color: #eaeeee;
  padding: 25px 30px 15px 30px;
}

.user-info {
  width: inherit;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avatar {
  width: 175px;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.profile-pic {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.name {
  font-weight: bold;
  font-size: 15px;
  padding-bottom: 3px;
}

.handle {
  font-size: 11px;
  color: #a2acb5;
}

.options {
  width: 175px;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.follow {
  width: 100px;
  height: 35px;
  border: 2px solid #2190bb;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  color: #2190bb;
  font-size: 13px;
  font-weight: bold;
}

.more-options {
  padding-bottom: 10px;
  cursor: pointer;
  font-size: 20px;
}

.tweet-area {
  width: inherit;
  height: 110px;
  background-color: #0b6657;
}

.tweet {
  width: inherit;
  height: auto;
  background-color: #aabbcc;
  display: flex;
  align-items: center;
  padding: 20px;
}

.timestamp {
  width: inherit;
  background-color: #fff;
  padding: 5px 20px;
  color: #a2acb5;
}

.tweet-impressions {
  width: 600px;
  height: 45px;
  background-color: #123657;
}
